@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column">
    <li>
        <a asp-action="Index">Profile</a>
    </li>
    <li>
        <a asp-action="ChangePassword">Change Password</a>
    </li>
</ul>